app-image-shell.video-image {
  background-position: center;
}

.image-title > app-text-shell {
  --text-shell-line-height: 14px;
}

.image-description > app-text-shell {
  --text-shell-line-height: 13px;
}
