 <ion-tabs (ionTabsDidChange)="ionTabsDidChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="categories" [routerLinkActive]="['tab-selected']" [routerLink]="['/app/categories']">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label class="tab-title">Categories</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user" [routerLinkActive]="['tab-selected']" [routerLink]="['/app/user']">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications" [routerLinkActive]="['tab-selected']" [routerLink]="['/app/notifications']">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label class="tab-title">Notifications</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
