app-image-shell.checkbox-cover {
  --image-shell-loading-background: rgba(var(--ion-color-light-rgb), .4);
  --image-shell-overlay-background: rgba(var(--ion-color-dark-rgb), .4);
  --image-shell-spinner-color: var(--ion-color-lightest);
}
