<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password-content">
  <h2 class="auth-title">Recover your password</h2>
  <p class="recover-message">
    Please enter your email address and we'll send you an email to reset your password.
  </p>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-button class="reset-password-btn" type="submit" expand="block" [disabled]="!forgotPasswordForm.valid">Reset Password</ion-button>
  </form>
</ion-content>
