<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-card-content">
  <ion-row class="user-details-wrapper">
    <ion-col size="4">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="user-avatar" animation="spinner" [src]="'./assets/sample-images/notifications/100x100Notification2.jpg'" [alt]="'notification image'"></app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-info-wrapper" size="8">
      <h3 class="user-name">Claire Hale</h3>
      <h5 class="user-handle">@clairehale</h5>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">1553</span>
      <span class="user-stat-name">Following</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">537</span>
      <span class="user-stat-name">Followers</span>
    </ion-col>
    <ion-col size="12">
      <p class="user-bio">
        I am a product and visual designer based in Uruguay. I have designed at Google, Amazon and Microsoft.
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="user-preferences-wrapper">
    <ion-col size="12">
      <h4 class="preference-name">Mobile</h4>
      <p class="preference-value">
        +1-202-555-0102
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Email</h4>
      <p class="preference-value">
        clairhale@ionic.com
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Address</h4>
      <p class="preference-value">
        921 Church St, San Francisco, CA
        <br/>
        94114, USA
      </p>
    </ion-col>
  </ion-row>
</ion-content>
