<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813357714189-c3madg4ahabkurf8sukhkd39ebeua7g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813357714189-c3madg4ahabkurf8sukhkd39ebeua7g1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813357714189-u13i5ius248luvscntoo741spbhp91dk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxNovAn7BuiwBpnMxhS1x_yof-GYuPKRU</string>
	<key>GCM_SENDER_ID</key>
	<string>813357714189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicthemes.ionic5fullapp</string>
	<key>PROJECT_ID</key>
	<string>ion4fullpwa</string>
	<key>STORAGE_BUCKET</key>
	<string>ion4fullpwa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813357714189:ios:aa69dca275137f0d813e44</string>
	<key>DATABASE_URL</key>
	<string>https://ion4fullpwa.firebaseio.com</string>
</dict>
</plist>