<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>API_KEY</key>
  <string>MSkQqxRttVrHWuGt9fgTiAYrO</string>
  <key>API_SECRET</key>
  <string>DdBaDEYJK9yRNK5mpGMJoi2KGFO5sB1uaqmB7m9iQteo1M7JtA</string>
</dict>
</plist>
